{% load staticfiles %}

<html>
	<head>
		<title>Sample</title>
	</head>
	<body>
		<div>
			<h1>Sample</h1>
			{% if user.is_authenticated %}
				<a href="{% url 'logout' %}">logout</a>
			{% endif %}
		</div>
		<div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>